span.systemlog {
    font: 16px sans-serif;
    color: darkgray;
    overflow-y:auto;
    overflow-x:clip;
    height: 800px;
    width: 400px;
    vertical-align: top;
}

span.tet {
    color: #3f3fe2
}

span.myr {
    color: #DB2A3E
}

span.syn {
    color: #50C814
}

span.car {
    color: #A000B0
}

span.ark {
    color: #c9a115
}